.imagem{
	display: block;
	float: left;
	width: 48%;
	margin: 1% 0.5% 1% 0.5%;
	min-width: 250px;
}

img{
	width: 100%;
	display: inline-block;
}

span{
	display: block;
	float: left;
	width: 48%;
	margin: 1% 0.5% 1% 0.5%;
	min-width: 250px;
}

#git{
	width: 20px;
	margin-right: 0.5em;
}